node_modules
vendor
.env
.env.backup
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*
.git
.github
tests
phpunit.xml
.phpunit.cache
docker-compose.yml
docker-compose.prod.yml
deploy.sh
*.md
.editorconfig
.gitattributes
